.paymentHistory_wrapper {
  width: 100%;
  min-height: calc(var(--vvh, 1vh) * 100 - 9.5rem);
  background-color: #fff;
}
.paymentHistory_header {
  color: #777;
  font-size: 0.8rem;
}
.paymentHistory_header i {
  font-size: 1.25rem !important;
  vertical-align: top;
}
.paymentHistory_header b {
  font-weight: 550;
  vertical-align: top;
}
.paymentHistory_body {
  flex: 1;
  height: auto;
  width: 100%;
  background-color: #fff;
  padding: 1rem 0;
}
.paymentHistory_body_tny {
  color: var(--lteColor);
  font-size: 0.75rem;
}
.paymentHistory_body_tny span {
  color: var(--orange);
}
.paymentHistory_inner p {
  margin: 0;
  padding: 0.05rem 0;
}
.paymentHistory_inner {
  margin: 0.75rem 0;
  background-color: var(--lteBacColor);
  background-color: rgba(248, 248, 248);
  border-radius: 0.15rem;
  margin-bottom: 1rem;
}
.paymentHistory_inner p {
  margin: 0;
  font-size: 0.8rem;
  color: #888;
  padding: 0.05rem 0;
}
.paymentHistory_inner span {
  color: var(--pantone);
  font-weight: 500;
}
.paymentHistory_inner.div2 span.dur {
  font-weight: 400;
  color: #343a40;
}
