.studList_wrap {
  background-color: var(--lteBacColor);
}
.studList_wrap_header {
  min-height: 2.5rem;
  background-color: #eee;
  padding: 0 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  /* font-weight: 450; */
  border-bottom: 1px solid #ddd;
}
.studList_wrap_body {
  padding: 1rem;
}
.studList_box {
  padding: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #eee !important;
  border-radius: 0;
}
.studList_box:first-child {
  border-top-left-radius: 0.35rem;
  border-top-right-radius: 0.35rem;
}
.studList_box:last-child {
  border-bottom: none !important;
  margin-bottom: 1.5rem;
  border-bottom-left-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
}
.studList_box .Link {
  align-items: flex-start;
}
.studList_box_img {
  width: 2.75rem;
  height: 2.75rem;
  color: #fff;
  font-weight: 500;
  background-color: #eee;
}
.studList_box_right {
  padding: 0 1rem;
}
.studList_box_title,
.studList_box_post,
.studList_box_btn_wrap {
  padding-bottom: 0.15rem;
}
.studList_box_title {
  /* font-weight: 500; */
  font-size: 1rem;
}
.studList_box_post {
  font-size: 0.85rem;
  color: #777;
}
.studList_box_post.owe {
  color: var(--red);
  background-color: rgba(255, 0, 0, 0.1);
  /* color: rgba(170, 53, 53, 0.774); */
  padding: 0 0.25rem;
  border-radius: 0.15rem;
}
.studList_box_btn_wrap {
  font-size: 0.85rem;
  padding-top: 0.35rem;
  color: var(--blue);
}
