.profile_min_height {
  min-height: calc(var(--vvh, 1vh) * 100 - 6rem);
}
.profileTable_wrapper {
  background-color: #234;
}
.lowHeader_wrapper_icon_div {
  /* width: 2.5rem; */
  /* margin: 0.5rem 0; */
  margin-left: 1rem;
  height: 2rem;
  align-self: center;
  border-left: 1px solid #ddd;
  background-color: #fff;
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.25rem;
  color: var(--darkPantone) !important;
}
.lowHeader_wrapper_icon {
  font-size: 1.75rem !important;
}
.lowHeader_wrapper_icon_div.profile {
  background-color: transparent;
  border-left: 1px solid #fff;
  border-right: none !important ;
  border-top: none !important;
  border-bottom: none !important;
  border-radius: 0 !important;
  color: #fff !important;
  padding: 0 1.25rem;
  padding-right: 0.25rem;
}
.lowHeader_wrapper_icon_div.search {
  padding: 0.5rem 1.5rem;
}
.page_wrapper_left,
.page_wrapper_right {
  --width: 20rem;
  width: var(--width);
  color: #fff;
  background-color: var(--lteBacColor);
}
.page_wrapper_left {
  background-color: #aaa;
}
@media (min-width: 1024px) {
  .page_wrapper_left,
  .page_wrapper_right {
    --width: 22.5rem;
  }
}
.page_wrapper_right .inner,
.page_wrapper_left .inner {
  width: var(--width);
  top: 0;
  right: 0;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  color: #fff;
}
