.service_wrapper {
  min-height: calc(var(--vvh, 1vh) * 100);
  background-color: var(--lteBacColor);
}
.service_header {
  height: 3.5rem;
  z-index: 999;
  padding: 0.5rem;
  position: sticky;
  -webkit-position: sticky;
  -moz-position: sticky;
  -o-positon: sticky;
  -ms-position: sticky;
  top: 0;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
  background-color: #ddd;
  transition: all 200ms ease-in-out;
}
.service_header_inner {
  height: 100%;
  vertical-align: top;
}
.service_header_inner.div1 {
  width: 2.5rem;
}
.service_header_inner.div2 {
  padding: 0 0.5rem;
  width: calc(100% - 2.5rem);
}
/* .service_header_inner_icon {
  -webkit-text-stroke: 0.02rem #ddd;
} */
.service_body {
  padding: 1rem 0;
  padding-top: 0;
  min-height: calc(var(--vvh, 1vh) * 100 - 3.5rem);
}
.service_top {
  min-height: 10rem;
  padding: 0.5rem 1rem;
  padding-bottom: 2rem;
  background-color: #ddd;
  /* border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem; */
}
.service_body_banner {
  background-color: var(--pantone);
  background-color: #ccc;
  display: none;
  border-radius: 0.15rem;
}
.service_top_front i {
  display: none !important;
  font-size: 1.4rem !important;
}
.service_top_float_inner {
  height: 100%;
}
.service_body_title {
  text-align: left;
  font-size: 1.2rem;
}
.service_body_add_wrapper {
  background-color: rgb(248, 248, 248);
  padding: 1.5rem calc((var(--vvw, 1vw) * 100 - 100vmin + 2rem) / 2);
}
.service_body_add_wrapper_float {
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  z-index: 1;
  border-bottom: 1px solid #eee;
}
.service_body_add_div {
  margin: 0 auto;
  z-index: 11;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0.75rem 1rem;
  padding-top: 0;
  border-radius: 0.5rem;
  background: #fff;
}
.service_body_add_div_title {
  font-weight: 500;
}
.service_body_btn_div {
  min-height: 3rem;
}
.service_body_btn_des {
  color: #666;
  text-align: center;
  width: 70%;
  font-size: 0.85rem;
  padding: 0.5rem 0;
}
.service_body_btn {
  height: 2.25rem;
  padding: 0 2rem;
  width: 100%;
  font-size: 0.85rem;
  margin-top: 0.75rem;
  background-color: var(--pantone);
  border-radius: 0.15rem;
  color: #fff;
}
.service_body_wrapper {
  padding: 1rem 1.5rem;
}
.service_body_wrapper_header {
  height: 2.5rem;
  font-weight: 500;
  color: var(--pantone);
}
.service_pane {
  background-color: #fff;
  margin: 1rem 0;
}
.service_pane .Link_block {
  transition: all 350ms ease;
}
.service_pane_top {
  height: 15rem;
  padding-top: 1rem;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}
.service_pane_top_header_img_div {
  height: 2rem;
  z-index: 9;
  padding: 0 1rem;
}
.service_pane_top_header_img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  padding: 1.5px;
  border: 0.5px solid #fff;
  background-color: transparent;
}
.service_pane_top_img_div {
  background-color: #eee;
}
.service_pane_body {
  min-height: 7.5rem;
  padding: 0.5rem 0.75rem;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}
.service_body_wrapper_inner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0 2rem;
}
@media (min-width: 576px) {
  .service_top {
    min-height: 15rem;
    border-radius: 0;
  }
  .service_body_btn {
    width: 80%;
  }
  .service_body_banner {
    display: flex;
  }
  .service_body_btn {
    width: 70%;
  }
  .service_body_wrapper_inner {
    grid-template-columns: repeat(2, 1fr);
  }
}
