.account_wrapper {
  width: 100%;
  min-height: calc(var(--vvh, 1vh) * 100 - 6.5rem);
  height: auto;
  background-color: #fff;
  text-align: left;
}
.account_inner_body {
  padding: 0;
}
.account_info_wrapper {
  width: 100%;
  padding-bottom: 2rem;
  height: auto;
}
.account_info_header {
  width: 100%;
  height: 2rem;
  font-weight: 500;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
  display: flex;
  border-top: 1px solid #ddd;
  /* background-color: #ddd; */
}
.account_info_header.pending {
  background-color: rgba(255, 193, 7, 0.5);
}
.account_info_header.paid {
  background-color: rgba(40, 167, 70, 0.5);
}
.account_info_body {
  min-height: 7.5rem;
  padding: 0.5rem 1rem;
}
.account_icon1 {
  margin-left: 0.5rem;
  color: var(--yellow);
  font-size: 1.2rem !important;
}
.account_icon2 {
  margin-left: 0.5rem;
  font-size: 1.5rem !important;
  color: rgb(42, 126, 62);
  /* color: var(--green); */
}
/* .account_pending_wrapper {
}
.account_paid_wrapper {
} */
