.homeAbout_header {
  padding: 1rem 0;
}
.homeAbout_header_img_div {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid #eee;
}
.homeAbout_header_title {
  width: calc(100% - 4rem);
  padding: 0 1rem;
}
.homeAbout_header_title_inner {
  width: 100%;
}
.homeAbout_header_title_inner.div1 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.homeAbout_header_title_inner.div2 {
  background-color: #eee;
  margin-bottom: 1rem;
}
.homeAbout_header_title_inner.div3 {
  color: #666;
  font-weight: 500;
  font-size: 0.8rem;
}
