.homeReg_wrapper {
  font-size: 0.85rem;
  padding: 1rem 1rem;
  background-color: rgb(248, 248, 248);
}
.homeReg_wrapper_inner {
  background-color: #fff;
}
.homeReg_img_top {
  padding-bottom: 1rem;
}
.homeReg_img_top .flex1 {
  padding-right: 2rem;
  font-size: 0.9rem;
}
.homeReg_img_top .flex1 i {
  padding: 0 0.5rem;
  color: var(--appHeaderColor);
}
.homeReg_img_top .flex1 p {
  font-weight: 500;
  margin: 0;
  padding: 0.5rem 1rem;
}
.homeReg_img_div {
  width: 5rem;
  height: 5rem;
  background-color: #eee;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}
.homeReg_inner {
  color: var(--pantone);
  width: 100%;
  font-weight: 500;
  border-top: 1px solid #eee;
}
.homeReg_inner span {
  margin-right: 1rem;
}
