.homeBanner_wrapper {
  height: calc(100vmin - 3rem);
  width: 100%;
  background-color: rgb(60, 75, 65);
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
