.homeFooter_wrapper {
  width: 100%;
  background-color: #fff;
  display: flex;
  font-size: 0.85rem;
  flex-direction: column;
}
.homeFooter_top_inner {
  border-top: 1px solid #eee;
}
.homeFooter_top_inner:first-child {
  border-top: none;
}
.homeFooter_top_inner.cont {
  background-color: var(--lteBacColor);
}
@media (min-width: 546px) {
  .homeFooter_top_inner.grided {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.homeFooter_bottom {
  min-height: 5rem;
  border-top: 1px solid #eee;
}
.homeFooter_bottom_img_div {
  width: 2rem;
  height: 2rem;
}
.homeFooter_bottom_title {
  padding-left: 1rem;
  font-weight: 500;
}
.homeFooter_top_sect_head {
  padding: 0.25rem 0;
  transition: all 350ms ease;
}
.homeFooter_top_sect {
  transition: all 350ms ease;
  font-size: 0.75rem;
  padding: 0.25rem 0.25rem 0.25rem 1rem;
}
.homeFooter_top_sect span:hover {
  color: var(--blue);
  text-decoration: underline;
}
.homeFooter_top_sect_head span:hover {
  color: var(--pantone);
  text-decoration: underline;
}
