.staff_result_wrapper {
  background-color: var(--yellow);
}
.studList_wrap_header.result_list {
  border-radius: 0;
  background-color: rgba(51, 185, 82, 0.7);
}
.studList_wrap_header.result_list.pending {
  background-color: rgba(255, 193, 7, 0.5);
}
/* .result_class_list_head {
  font-weight: 500;
  font-size: 0.85rem;
  font-size: 0.9rem;
} */
/* ResultUploadClassPane */
.resultUCP_wrapper {
  margin-bottom: 1.5rem;
  background-color: #fff;
}
.resultUCP_wrapper:last-child {
  margin-bottom: 0;
}
.resultUCP_img {
  border-radius: 0.35rem;
  height: 3.5rem;
  width: 3.5rem;
}
.resultUCP_detail {
  padding-right: 1.1rem;
  font-size: 0.85rem;
}
.resultUCP_detail_name {
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 0.25rem;
}
.resultUCP_detail_ses {
  padding-bottom: 0.25rem;
  /* font-weight: 500; */
}
.resultUCP_detail_num {
  padding-bottom: 0.25rem;
  /* color: var(--pantone); */
  font-weight: 500;
}
.resultUCP_detail_comm {
  border-top: 1px solid #ddd;
  margin-top: 0.25rem;
  padding-top: 0.25rem;
}
.resultUCP_detail_comm > div {
  display: inline;
  color: #666;
}
/* .resultUCP_detail_comm .completeRem {
  color: var(--pantone);
  color: var(--blue);
} */
.resultUCP_detail_comm .incompleteRem {
  color: var(--orange);
  font-weight: 500;
}
