.staff_result_wrapper {
  background-color: var(--yellow);
}
.studList_wrap_header.result_list {
  border-radius: 0;
  background-color: rgb(179, 221, 189);
}
.studList_wrap_header.result_list.pending {
  background-color: rgb(255, 236, 177);
}
.resultUCP_wrapper {
  margin-bottom: 1.5rem;
  background-color: #fff;
}
.resultUCP_wrapper:last-child {
  margin-bottom: 0;
}
.resultUCP_img {
  border-radius: 0.35rem;
  height: 3.5rem;
  width: 3.5rem;
}
.resultUCP_detail {
  padding-right: 1.1rem;
  font-size: 0.85rem;
}
.resultUCP_detail_name {
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 0.25rem;
}
.resultUCP_detail_ses {
  padding-bottom: 0.25rem;
}
.resultUCP_detail_num {
  padding-bottom: 0.25rem;
  padding-top: 1rem;
  font-size: 0.75rem;
  /* font-weight: 500; */
}
.resultUCP_detail_num .incompleteRem {
  color: var(--orange);
}
.resultUCP_detail_num .completeRem {
  color: var(--green);
}
