.little_footer_wrapper {
  min-height: 2.5rem;
  color: #999;
  font-size: 0.75rem;
  background-color: transparent;
}
.little_footer_span1,
.little_footer_span2,
.little_footer_span3 {
  display: inline-flex;
}
.little_footer_span2 {
  width: 2rem;
}
.little_footer_span2 div {
  border: 2px solid #888;
  border-radius: 50%;
}
