.mainTitle_wrapper {
  min-height: 3.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--appHeaderColor);
}

.mainTitle_img_div {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 0.5rem;
}
.mainTitle_title_div {
  padding: 0.5rem 1rem;
}
.mainTitle_title_inner.div1 {
  min-height: 1.5rem;
  font-size: 1rem;
  color: #fff;
}
.mainTitle_title_inner.div2 {
  min-height: 1rem;
  font-size: 0.85rem;
  color: rgb(160, 175, 165);
}
