.main_header_wrapper {
  height: 2.75rem;
  padding: 0 0.5rem;
  top: 0;
  background-color: var(--appHeaderColor);
}
.main_header_inner {
  padding: 0.5rem;
  width: 3rem;
  color: #fff;
}
.main_header_inner i {
  -webkit-text-stroke: 0.02rem var(--appHeaderColor);
  color: #fff;
}
