.mainSide_header {
  width: 100%;
  height: 5rem;
  color: #fff;
  background-color: var(--appHeaderColor);
  border-bottom: 1px solid #ddd;
}
.mainSide_header i {
  height: 3rem;
  width: 3rem;
  display: flex;
  text-decoration: none !important;
  text-shadow: none !important;
  opacity: 1 !important;
  color: #fff;
  transition: all 200ms ease;
}
.mainSide_header_left_div {
  padding: 0 1rem;
  padding-right: 0;
}
.mainSide_header_tile_name {
  font-size: 0.9rem;
}
.mainSide_header_tile_motto {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.75);
}
.mainSide_header_left_img {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.mainSide_header_img {
  width: 100%;
  height: auto;
}

.mainSide_body {
  width: 100%;
  height: calc(var(--vvh, 1vh) * 100 - 6rem);
  overflow: auto;
  overflow-x: hidden;
}

.mainSide_body_inner {
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  font-weight: 400;
  font-size: 0.85rem;
  cursor: pointer;
  color: var(--appHeaderColor);
  /* border-right: 5px solid var(--appHeaderColor); */
  transition: all 350ms ease-in-out;
}
.mainSide_body_inner:hover,
.mainSide_body_inner.active {
  /* color: #fff; */
  background-color: #eee;
  /* border-right: 5px solid rgba(40, 55, 45); */
}
.mainSide_body_inner i {
  vertical-align: middle;
  margin-right: 1rem;
}
