.contact_wrappper {
  min-height: calc(var(--vvh, 1vh) * 100);
  background-color: #fff;
}
.contact_header {
  height: 3.5rem;
  padding: 0.5rem;
  background-color: #fff;
  top: 0;
}
.contact_header_inner {
  height: 100%;
}

.contact_header_inner.div1 {
  width: 2.5rem;
}
.contact_header_inner.div2 {
  width: calc(100% - 2.5rem);
}
.contact_header_img_div {
  width: 2rem;
  height: 2rem;
}
.contact_header_inner_title {
  width: calc(100% - 2.5rem);
  height: 2.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 1.1rem;
  text-align: left;
  font-weight: 450;
}
.contact_body {
  background-color: #fff;
  /* min-height: calc(var(--vvh, 1vh) * 100 - 3.5rem); */
}

.contact_banner {
  min-height: 15rem;
  background: linear-gradient(to right, #06beb6, #48b1bf);
}
.contact_banner_header {
  height: 2rem;
  padding-top: 0.5rem;
}
.contact_banner_badge {
  height: 1.5rem;
  width: 1.5rem;
}
.contact_banner_body {
  padding: 0.25rem calc((100% - 15rem) / 2) 1rem calc((100% - 15rem) / 2);
  min-height: 13rem;
  line-height: 3rem;
  color: #fff;
  font-size: 1.5rem;
}
.contact_inner {
  padding: 1rem;
}
.contact_inner_school,
.contact_inner_dev {
  min-height: 10rem;
}
.contact_inner_dev {
  margin-top: 1rem;
}
.contact_inner_dev_header {
  height: 2.5rem;
  margin-bottom: 1rem;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  padding-left: 0;
}

@media (max-width: 272px) {
  .contact_banner_body {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
