.select_wrapper {
  margin-top: 2rem;
  font-size: 0.85rem;
}
.select_wrapper:nth-child(1) {
  margin-top: 0;
}
.select_body {
  padding: 0 0.5rem;
  background-color: #fff;
  border-radius: 0.35rem;
  transition: all 200ms ease;
  border: 1.5px solid #eee;
}
.select_body.active {
  border: 1.5px solid var(--pantoneLte);
}
.select_body_inner {
  padding: 0.15rem 0;
  min-height: 2.35rem;
}
.select_body_inner b {
  font-weight: 500;
}
.select_body_inner b,
.select_body_inner_btn {
  color: var(--pantone);
}
.select_body_inner_btn {
  width: 3rem;
  min-height: 2.35rem;
}
.selectPage_wrapper {
  padding: 1rem 1rem;
  padding-bottom: 1rem;
}
.selectPage_btn_wrapper {
  align-items: flex-end;
}
.selectPage_btn {
  background-color: var(--pantone);
  color: #fff;
  border-radius: 0.15rem;
  padding: 0.45rem 0.5rem;
  font-size: 0.85rem;
  margin-top: 0.5rem;
  transition: all 350ms ease;
}
.selectPage_btn[focus] {
  opacity: 0.75 !important;
}
.selectPage_btn[disabled] {
  opacity: 0.65;
}

/* Floater */

.select_float {
  position: absolute;
  padding: 0.5rem 0;
  padding-bottom: 1rem;
  top: -0.25rem;
  left: -1px;
  /* min-width: calc(var(--vvw, 1vw) * 30); */
  width: 50%;
  max-width: 15rem;
  max-height: 19rem;
  z-index: 9;
  background-color: #fff;
  border-radius: 0.35rem;
  box-shadow: 1px 2px 8px 2px rgba(92, 92, 92, 0.1);
  animation-name: slide-down;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-duration: 200ms;
  animation-fill-mode: both;
}
.select_float_inner {
  width: 100%;
  min-height: 3rem;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0.5rem;
  transition: all 350ms ease;
}
.select_float_inner:hover {
  background-color: var(--lteBacColor);
}
.select_float_inner.empty:hover {
  background-color: transparent;
}
.select_float_inner.header {
  border-bottom: 1px solid #eee;
  color: #666;
  font-weight: 500;
}
.select_float_inner.header:hover {
  background-color: transparent;
}
