.forgetPassword_wrapper {
  background-color: #fff;
  padding: 1rem;
  font-size: 0.9rem;
}
.page_wrapper_title {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
}
.page_wrapper_input {
  height: var(--height);
  transition: all 350ms ease;
}
.page_wrapper_input:focus {
  border: 1px solid var(--blue);
}
.page_wrapper_label {
  position: absolute;
  left: 0.5rem;
  height: calc(var(--totHeight));
  padding-top: calc(var(--totHeight) - var(--height));
  margin: 0;
  color: #777;
  transition: all 200ms ease;
}
.page_wrapper_label.active {
  font-size: 0.8rem;
  padding-bottom: var(--height);
  padding-top: 0;
  color: var(--blue);
}
.forgotten_form_div {
  --height: 2.5rem;
  --totHeight: 3.6rem;
  height: var(--totHeight);
}
.forgotten_error_div {
  font-size: 0.85rem;
  padding: 0.125rem 0;
  min-height: 1.25rem;
}
.forgotten_btn {
  margin: 0 auto;
  margin-top: 0.5rem;
  padding: 0.35rem 5rem;
  background-color: var(--blue);
  color: #fff;
  border-radius: 0.35rem;
  transition: all 200ms ease;
}
.forgotten_btn[disabled] {
  opacity: 0.5;
}
@media (min-width: 768px) {
  .forgotten_btn {
    margin-top: 0;
    margin: 0 auto;
    padding: 0.25rem 5rem;
  }
}
