.studentFees_wrapper {
  font-size: 0.85rem;
}
.studentFees_hist {
  margin-bottom: 1rem;
}
.studentFees_body_inner_title_head {
  min-height: 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 500;
}
.studentFees_body {
  padding: 1.5rem 0;
  margin-top: 1.5rem;
  border-top: 1px solid #eee;
}
.studentFees_body_div {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
.studentFees_body_pane_box {
  padding-right: 1.5rem;
}
.studentFees_body_wrapper_inner {
  margin-bottom: 2rem;
}
.studentFees_body_wrapper_inner:last-child {
  margin-bottom: 0;
}
.studentFees_body_pane_img {
  width: 4rem;
  height: 4rem;
  border-radius: 0.35rem;
  background-color: #ddd;
}
.studentFees_body_pane.div1 {
  padding: 0.25rem 0;
  font-size: 0.95rem;
  font-weight: 400;
}
.studentFees_body_pane.div2 {
  padding: 0.25rem 0;
}
.studentFees_body_pane.div2 p {
  margin: 0;
  width: 100%;
  padding-bottom: 0.15rem;
  font-size: 0.8rem;
  text-align: left;
}
.studentFees_body_pane.div2 p:last-child {
  margin-bottom: 0.5rem;
}
.studentFees_body_pane.div2 span {
  color: var(--pantone);
  font-weight: 500;
}

.studentProfile_btn.header {
  padding: 0.5rem 0.5rem;
  border-radius: 0.15rem;
  background-color: rgba(0, 123, 255, 0.25);
  font-weight: 450;
  color: var(--pantone);
}
.studentFees_comp_icon {
  padding-right: 1rem;
  color: var(--pantone);
}
.studentFees_comp_det {
  font-size: 1rem;
}
.studentFees_comp_info {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--orange);
}
.studentFees_comp i {
  color: var(--pantone);
}
